.App{
  background-color: #005875;
  height: 100vh;
}

.header{
  background-color: #06d6a0 ;
}

.login{
  background-color: #ff9c5f ;
}

.questions{
  background-color: #118ab2 ;
}

ul {
  list-style-type: none;
  padding-left: 10px;
}

.question-block{
  border-color: #ef476f;
  border-style: solid;
  padding:10px;
  background-color: #ffd166 ;
  margin-bottom:15px;
}

.question{
  padding:10px;
  font-weight: bold;
}

.gif-container {
  display: flex;
  justify-content: center;
  align-items: center;
  position: fixed;
  height: 0px;
}

#site-footer{
  background-color: #118ab2;
  padding : 20px;
  color: lightgray;
}